# Backend (API Development)
flask
flask-restful
flask-cors
sqlalchemy
mysql-connector-python
python-dotenv

# Machine Learning and Data Processing
numpy
pandas
scikit-learn
tensorflow  
matplotlib
plotly

# Testing and Development
pytest
