# Flask and REST API dependencies
flask
flask-restful
flask-cors
flask-socketio

# Database dependencies
python-dotenv

# Data science and machine learning dependencies
numpy
pandas
scikit-learn

# Data visualization
matplotlib
plotly

# Testing
pytest

gunicon
